header {
  background-color: white;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 47px 1fr 1fr;
}
/* Logo */
.header__logo {
  background-color: white;
  grid-row: 1/2;
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: var(--border);
}
.header__logo button {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
/* Menu */
.header__menu {
  grid-row: 2/3;
  position: fixed;
  width: 100%;
  top: 50;
  right: -100%;
}
.header__menu-show {
  position: fixed;
  width: 100%;
  top: 50px;
  right: 0;
}
/* Header Out */
.header__out {
  grid-row: 3/4;
}

.request {
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 50px;
  position: fixed;
  top: 530px;
  right: 10px;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.request-hide {
  display: none;
}
/* MuiCircularProgress-root MuiCircularProgress-colorPrimary MuiCircularProgress-indeterminate */

.request .MuiCircularProgress-root {
  color: yellow;
}
.request p {
  color: rgb(82, 82, 3);
  font-size: 22px;
  font-weight: 700;
  margin-left: 8px;
}
